.feedback__list {
    list-style: none;
    text-align: center;
}
.feedback_list__item {

    font-size: 16px;
    color: rgb(85, 61, 61);
}
.feedback_list__item{
    margin-bottom: 8px;
}
.statistic_item__data {
    color: rgb(235, 24, 24);
    font-weight: 700;
}
